*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}
body{
	font-family: "helvetica";
}
nav{
  position: fixed;
	background-color: white;
	height: 80px;
	width: 100%;
	-webkit-box-shadow: 0 8px 8px -6px #999;
    -moz-box-shadow: 0 8px 8px -6px #999;
    box-shadow: 0 8px 8px -6px #888;
}
label.logo{ 
	color: #00c9ff;
	font-size: 35px;
	line-height: 80px; 
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 3px;
}
nav ul li a{
	color:#93D8CF;
	font-size: 16px;
	padding: 7px 10px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight: bold;
}
ul li a.active,a:hover{
	color: #00c9ff;
	transition: 0.3s;

}
nav label.checkbtn{
	font-size: 30px;
	color: #93D8CF;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
#contentindex{
  display: inline-block;
  height: 60%;
  width: 100%;
}
#contentindex div.com{
  background-image: url("grd.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 8px;
}
#contentindex div.com h3{
  top: 0;
  padding-top:260px;
  font-family: "helvetica", fantasy;
}
#contentindex div.com h3.t1{
   font-weight: bold;
  font-size: 130px;  
  text-align: center;
  color: white;
}
#contentindex div.com h3.t2{
  padding-top: 40vh;
  padding-bottom: 200px;
  font-size: 40px;
  text-align: center;
  color: #E5EBEA;
}
#contentlog {
display: flex;
}
footer{
  height: 20%;
  padding-top: 30px;  
  margin:0;
  bottom: 0;
  background-color: #374A4B;
  font-size: 100%;
  width: 100%;
}
footer div.uno{
  display: flex;
  width: 90%;
  padding-left:5%;
  padding-right: 5%; 
}
footer div.uno h1{
  color: #97B4CA;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}
footer div.uno div.wor h1{
  padding-right: 2%;
}
footer div.uno div.wor {
  margin-left: 15px;
  padding-bottom: 30px;
  border-bottom: 3px solid #97B4BA;
  width: 70%;
}
footer div.uno div.adv { 
  padding-bottom: 30px;
  border-bottom: 3px solid #97B4BA;
  margin-left: 15px;
  margin-right: 15px; 
  width: 30%;
}
footer div.uno  div.adv div.sociaux{
  display: flex;
  width: 20%;
  padding-right: 5%;
  padding-left: 15%;
}
footer div.uno div.adv div.sociaux img{
  opacity: 0.7;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right:30%;
  padding-left: 30%; 
}
footer div.uno div.adv div.sociaux img:hover{
  transition: 0.3s all;
    opacity: 0.9;}
footer div.uno div.wor p{
  padding-top: 40px;
  color:#97B4BA;
  padding-right: 2%; 
  text-align: center;
  font-size: 1.3em;
  text-transform: capitalize;
}

footer div.dos{
  display: flex;
  padding-bottom: 30px;
}
footer div.dos p{
  padding-top: 70px;
  color: #87B4C3;
  font-size: 100%;
  opacity: 0.6;
  padding-left: 8%;
    width: 22%;
    text-align: center;
}
footer div.dos img{
  display: block;
  padding-right: 30%;
  margin-left: auto; 
  padding-top: 40px;
}

section .image{
 position: scroll;
 top: 50%;
 width: 50%;
}
section .image img{
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1081px){
  #contentindex div.com h3.t2{
    font-size: 36px;}
  }
 @media (max-width: 974px){
  #contentindex div.com h3.t1{
    font-size: 105px; }
    #contentindex div.com h3.t2{
    font-size: 30px;}
  }
@media (max-width: 961px){
   nav label.logo{
   	 font-size: 30px;
   	 padding-left: 50px;
   }
   #contentindex div.com h3.t1{
    font-size: 90px; }
    #contentindex div.com h3.t2{
    font-size: 27px; }

}					
@media (max-width: 862px){
  nav label.checkbtn{
  	display: block;}
  	nav ul{
       position: fixed;
       width: 100%;
       text-align: center;
       top: 40px;
       right: 100%;
       padding-top: 40px;
       transition: all 0.4s;
       background-color: #93D8CF;
  	}
   
   nav ul li{
   	display: block;
   	margin: 50px 0;
   	line-height: 30px;
   }
    nav ul li a{
    	color: white;
   	font-size: 17px;
   }
   nav ul li a.active,a:hover{
   	font-size: 19px;
   	color: #00c9ff;
   	opacity: 1;
   }
   #check:checked ~ ul{
   	left:0;
   	top:80px;
   }

    #contentindex div.com h3.t2{
      padding-top: 38vh;
  }
}
@media (max-width: 745px){
  #contentindex div.com h3.t1{
    font-size: 55px; }
    #contentindex div.com h3.t2{
    font-size: 25px;}
  }
  @media (max-width: 525px){
  #contentindex div.com h3.t1{
    font-size: 45px; }
    #contentindex div.com h3.t2{
      padding-top: 39vh;
    font-size: 18px;}
  }
@media (max-width: 426px){
	nav label.checkbtn{
    float: right;
    font-size: 25px;}
    nav label.logo{
    font-size: 30px;
     padding: 0 30px;
  }
    nav{
      display: inline-block;
    }
    nav ul{
       position: fixed;
       width: 100%;
       text-align: center;
       top: 40px;
       right: 100%;
       padding-top: 40px;
       transition: all 0.4s;
       background-color: #93D8CF;
    }
   
   nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
   }
    nav ul li a{
      color: white;
    font-size: 14px;
   }
   nav ul li a.active,a:hover{
    font-size: 16px;
    color: #00c9ff;
    opacity: 1;
   }
   #check:checked ~ ul{
    left:0;
    top:80px;
   }

}	
@media (max-width: 412px){
  nav label.checkbtn{
    float: right;margin:0;
     padding-right: 30px;}
    nav label.logo{
    font-size: 25px;
     padding-left: 24px; 
  }
  
} 
@media (max-width: 344px){
  #contentindex div.com h3{
    padding-top: 230px;
  }

    #contentindex div.com h3.t2{
      padding-top: 42vh;
      font-size: 14px;}
    }
  nav label.checkbtn{
    padding-top: 2px;
   font-size: 20px;}
    nav label.logo{
    font-size: 23px;
  }
}
@media (max-width: 269px){
  nav label.checkbtn{
   font-size: 18px;
   padding-right: 40px;}
    nav label.logo{
    font-size: 20px;
  }
  #contentindex div.com h3{
    padding-top: 170px;
  }
  #contentindex div.com h3.t1{
    font-size: 27px; }
    #contentindex div.com h3.t2{
    font-size: 10px;}
}


