*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
 scroll-behavior: smooth;
}
body{
	font-family: "helvetica";
}
nav{
  position: fixed;
	background-color: white;
	height: 80px;
	width: 100%;
	-webkit-box-shadow: 0 8px 8px -6px #999;
    -moz-box-shadow: 0 8px 8px -6px #999;
    box-shadow: 0 8px 8px -6px #888;
}
label.logo a{ 
	color: #00c9ff;
	font-size: 25px;
	line-height: 80px; 
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 80px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 3px;
}
nav ul li a{
	color:#93D8CF;
	font-size: 16px;
	padding: 7px 10px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight: bold;
}
ul li a.active,a:hover{
	color: #00c9ff;
	transition: 0.3s;

}
nav label.checkbtn{
	font-size: 30px;
	color: #93D8CF;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
div.contentindex{
  display: inline-block;
  height: 60%;
  width: 100%;
  background-color: #EAEAEC;
  -webkit-box-shadow: 0 8px 10px -6px #999;
    -moz-box-shadow: 0 8px 10px -6px #999;
    box-shadow: 0 8px 8px -6px #888;
}
div.contentindex #com{
  background-image: url("grd.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 8px;
}
div.contentindex #com h3{
  top: 0;
  padding-top:260px;
  font-family: "helvetica", fantasy;
}
div.contentindex #com h3.t1{
   font-weight: bold;
  font-size: 130px;  
  text-align: center;
  color: white;
}
div.contentindex #com h3.t2{
  padding-top: 40vh;
  padding-bottom: 200px;
  font-size: 40px;
  text-align: center;
  color: white;
}
div.contentindex #com li{
  margin-top: 140px;
 margin-bottom: 100px;
  padding: 18px 4px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 610px;
  width: 15%; 
  background-color: white; 
  opacity: 1;
   border:none;
   border-radius: 50px;
}
div.contentindex #com li a{
  text-align: center;
  padding: 18px 50px;
color: #00c9ff;
}
div.contentindex #com li:hover {
  transition: 0.3s;
  opacity: 0.8;
}
div.contentindex #container{
  padding-top: 40px;
  margin: 0;
  width: 100%;
}
div.contentindex div.describe{
  display: flex;
  margin: 160px 0;
  margin-bottom: 260px;
}
div.contentindex div.describe div.text{
  margin: 60px 0;
  float: left;
  width: 40%;
}
div.contentindex div.describe div.text h2{
  font-size: 20px;
  margin: 40px 100px;
  color: black;
}
div.contentindex div.describe div.text p{
  line-height: 28px;
  margin: 30px 100px; 
font-size: 18px;
color: black;
}
div.contentindex div.describe div.screenshot{
  width: 60%;
  float: right;
}
.screenshot img{
width: 100%;

}


div.sep{
margin-top: 360px;
background-color: #374A4B;
margin-bottom: 420px;
}
div.sep h1{
  color: white;
  padding: 20px 660px;
}

div.team{
  margin-top: 400px;
  display: flex;
  width: 100%;
  background-color: #374A4B;
  margin-bottom: 840px;
}
div.team p{
  color: white;
  font-weight: bold;
}
div.team div.profiles{
  width: 40%;
}
div.team div.profiles p{
  margin-top: 90px;
  font-size: 17px;
}
div.team div.profiles div.profile1{
  margin: 90px 100px;
}
div.team div.profiles div.profile1 p{

}
div.team div.profiles div.profile1 img{
  height: 220px;
  width: 220px;
  margin-left: 35px;
   border-radius:50%; 
}
div.team div.profiles div.profile2{
  margin: 90px 100px;
}
div.team div.profiles div.profile2 img{
  height: 220px;
  width: 220px;
  margin-left: 35px;
   border-radius:50%; 
}
div.team div.profiles div.profile2 p{
 
  }
div.team div.comments{
  width: 60%;
}
div.team div.comments div.comment1{
  margin-top:200px;
}
div.team div.comments div.comment2{
  margin-top:400px;
}
div.team div.comments p{
  text-align: center;
  margin-bottom: 60;
  font-size: 30px;

}

footer{
  width: 100%;
  height: 500px;
  background-color:#374A4B;
  bottom: 0;
  display: inline-block;
}
footer div.uno{
  height: 75px;
  width: 100%;
  display: flex;
  background-color: #374A4B;
  margin-top: 10px;
}
footer div.wor{
  width: 50%;}
footer h1{
  line-height: 80px;
  font-size: 20px;
  color: #D5D5D5;
}
footer div.wor h1{
  float: right;
  margin-right: 110px; 
}
footer div.wor p{
  font-size: 16px;
  margin-top: 120px;
  padding-left: 433px;
  color: #C5C5C5;
  }
  footer  div.social{
    margin-left:185px;
    margin-top: 260px; 
    display: flex;
  }
  footer  div.social img{
    opacity: 1;
  }
  footer  div.social a:hover img{
    transition: 0.3s;
    opacity: 0.7;
  }
  footer div.lisence{
    margin-left: 100px;
  }
  footer div.lisence h1{
    margin-right: 300px;
  }
  footer div.lisence p{
    font-size: 16px;
  margin-top: 42px;
  padding-left: 5px;
  color: #C5C5C5; 
  }
footer div.dos{
   height: 65px;
  width: 100%;
   display: flex;
   background-color:#374A4B; 
   padding-bottom: 140px;
}
footer div.dos p{
  padding-top: 100px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  width: 100%;
  float: left;
  text-align: center;
  margin: 200px 0;
  color: #C5C5C5;
  opacity: 0.9;
     }
footer div.dos img{
  padding-right: 30px
}







@media (max-width: 1296px){
div.contentindex #com li{
 margin-left: 510px;
}
div.contentindex #com li a{
  padding: 18px 36px;
}
}




@media (max-width: 1286px){
div.contentindex #com li{
 margin-left: 500px;
}
div.contentindex #com li a{
  padding: 18px 30px;
}
}




@media (max-width: 1256px){
div.contentindex #com li{
 margin-left: 500px;
}
div.contentindex #com li a{
  padding: 18px 28px;
}
}





@media (max-width: 1216px){
div.contentindex #com li{
 margin-left: 500px;
}
div.contentindex #com li a{
  padding: 18px 25px;
}
}






@media (max-width: 1196px){
div.contentindex #com li{
 margin-left: 480px;
}
div.contentindex #com li a{
  padding: 18px 21px;
}
}




@media (max-width: 1186px){
div.contentindex #com li{
 margin-left: 470px;
}
div.contentindex #com li a{
  padding: 18px 18px;
}
}




@media (max-width: 1156px){
div.contentindex #com li{
 margin-left: 420px;
}
div.contentindex #com li a{
  padding: 18px 14px;
}
}




@media (max-width: 1116px){
div.contentindex #com li{
 margin-left: 400px;
}
div.contentindex #com li a{
  padding: 18px 10px;
}
}





@media (max-width: 1096px){
div.contentindex #com li{
 margin-left: 390px;
}
div.contentindex #com li a{
  padding: 18px 8px;
}
}






@media (max-width: 996px){
div.contentindex #com li{
 margin-left: 480px;
}
div.contentindex #com li a{
  padding: 18px 25px;
}
div.contentindex #com li{
 margin-left: 300px;
}
div.contentindex #com li a{
  padding: 18px 5px;
}
}




@media (max-width: 986px){
div.contentindex #com li{
 margin-left: 480px;
}
div.contentindex #com li a{
  padding: 18px 25px;
}
}



 @media (max-width: 974px){
  div.contentindex #com h3.t1{
    font-size: 105px; }
    div.contentindex #com h3.t2{
    font-size: 30px;}
  }






@media (max-width: 961px){
   nav label.logo a{
   	 font-size: 30px;
   	 padding-left: 50px;
   }
   div.contentindex #com h3.t1{
    font-size: 90px; }
    div.contentindex #com h3.t2{
    font-size: 27px; }
}					






@media (max-width: 862px){
  nav label.checkbtn{
  	display: block;}
  	nav ul{
       position: fixed;
       width: 100%;
       text-align: center;
       top: 40px;
       right: 100%;
       padding-top: 40px;
       transition: all 0.4s;
       background-color: #93D8CF;
  	}
   
   nav ul li{
   	display: block;
   	margin: 50px 0;
   	line-height: 30px;
   }
    nav ul li a{
    	color: white;
   	font-size: 17px;
   }
   nav ul li a.active,a:hover{
   	font-size: 19px;
   	color: #00c9ff;
   	opacity: 1;
   }
   #check:checked ~ ul{
   	left:0;
   	top:80px;
   }

    div.contentindex #com h3.t2{
      padding-top: 38vh;
  }
}







@media (max-width: 745px){
  div.contentindex #com h3.t1{
    font-size: 55px; }
    div.contentindex #com h3.t2{
    font-size: 25px;}
    
  }
  






  @media (max-width: 525px){
  div.contentindex #com h3.t1{
    font-size: 45px; }
    div.contentindex #com h3.t2{
      padding-top: 39vh;
    font-size: 18px;}
  }





@media (max-width: 426px){
	nav label.checkbtn{
    float: right;
    font-size: 25px;}
    nav label.logo a{
    font-size: 30px;
     padding: 0 30px;
  }
    nav{
      display: inline-block;
    }
    nav ul{
       position: fixed;
       width: 100%;
       text-align: center;
       top: 40px;
       right: 100%;
       padding-top: 40px;
       transition: all 0.4s;
       background-color: #93D8CF;
    }
   
   nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
   }
    nav ul li a{
      color: white;
    font-size: 14px;
   }
   nav ul li a.active,a:hover{
    font-size: 16px;
    color: #00c9ff;
    opacity: 1;
   }
   #check:checked ~ ul{
    left:0;
    top:80px;
   }
    
}	








@media (max-width: 412px){
  nav label.checkbtn{
    float: right;margin:0;
     padding-right: 30px;}
    nav label.logo{
    font-size: 25px;
     padding-left: 24px; 
  }
  
  
} 







@media (max-width: 344px){
  div.contentindex #com h3{
    padding-top: 230px;
  }

    div.contentindex #com h3.t2{
      padding-top: 42vh;
      font-size: 14px;}
    }
  nav label.checkbtn{
    padding-top: 2px;
   font-size: 20px;}
    nav label.logo a{
    font-size: 23px;
  }
}








@media (max-width: 269px){
  nav label.checkbtn{
   font-size: 18px;
   padding-right: 40px;}
    nav label.logo a{
    font-size: 20px;
  }
  div.contentindex #com h3{
    padding-top: 170px;
  }
  div.contentindex #com h3.t1{
    font-size: 27px; }
    div.contentindex #com h3.t2{
    font-size: 10px;}
}


