*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}
body{
	font-family: "helvetica";
}
nav{
  position: fixed;
	background-color: white;
	height: 80px;
	width: 100%;
	-webkit-box-shadow: 0 8px 8px -6px #999;
    -moz-box-shadow: 0 8px 8px -6px #999;
    box-shadow: 0 8px 8px -6px #888;
}
label.logo{ 
	color: #00c9ff;
	font-size: 25px;
	line-height: 80px; 
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 80px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 3px;
}
nav ul li a{
	color:#93D8CF;
	font-size: 16px;
	padding: 7px 10px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight: bold;
}
ul li a.active,a:hover{
	color: #00c9ff;
	transition: 0.3s;

}
nav label.checkbtn{
	font-size: 30px;
	color: #93D8CF;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
#contentindex{
  display: inline-block;
  height: 60%;
  width: 100%;
  background-color: #EAEAEC;
}
#contentindex div.com{
  background-image: url("grd.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 8px;
}
#contentindex div.com h3{
  top: 0;
  padding-top:260px;
  font-family: "helvetica", fantasy;
}
#contentindex div.com h3.t1{
   font-weight: bold;
  font-size: 130px;  
  text-align: center;
  color: white;
}
#contentindex div.com h3.t2{
  padding-top: 40vh;
  padding-bottom: 200px;
  font-size: 40px;
  text-align: center;
  color: #E5EBEA;
}
#contentindex div.describe{
  display: flex;
  margin: 160px 0;
}
#contentindex div.describe div.text{
  margin: 120px 0;
  float: left;
  width: 40%;
}
#contentindex div.describe div.text h2{
  font-size: 20px;
  margin: 40px 100px;
  color: black;
}
#contentindex div.describe div.text p{
  line-height: 28px;
  margin: 30px 100px; 
font-size: 18px;
color: black;
}
#contentindex div.describe div.screenshot{
  width: 60%;
  float: right;
}
.screenshot img{
width: 100%;

}
#contentlog {
display: flex;
}

footer{
  width: 100%;
  height: 350px;
  background-color:#374A4B;
  margin-top: 40px;
  bottom: 0;
  display: inline-block;
}
footer div.uno{
  height: 75px;
  width: 100%;
  display: flex;
  background-color: #374A4B;
  margin-top: 10px;
}
footer div.adv{
  display: inline-block;
  width: 50%; 
}
footer div.wor{
  width: 50%;}
footer h1{
  line-height: 80px;
  font-size: 20px;
  color: #D5D5D5;
}
footer div.adv h1{
  float: left;
  margin-left: 110px;
}
footer div.wor h1{
  float: right;
  margin-right: 110px; 
}
footer div.wor p{
  font-size: 16px;
  margin-top: 120px;
  padding-left: 547px;
  color: #C5C5C5;
  }
  footer div.adv div.social{
    margin-left: 174px;
    margin-top: 80px; 
    display: flex;
    opacity: 0.8;
  }
  footer div.adv div.social div.instagram{
    background-image: url("instamena.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 60px 60px;
  }
footer div.dos{
   height: 65px;
  width: 100%;
   display: flex;
   background-color:#374A4B; 
   padding-bottom: 140px;
}
footer div.dos p{
  font-weight: bold;
  line-height: 380px;
  width: 30%;
  float: left;
  margin: 0 95px;
  color: #C5C5C5;
  opacity: 0.9;
     }
footer div.dos img{
  padding-right: 30px
}

@media (max-width: 1081px){
  #contentindex div.com h3.t2{
    font-size: 36px;}
  }
 @media (max-width: 974px){
  #contentindex div.com h3.t1{
    font-size: 105px; }
    #contentindex div.com h3.t2{
    font-size: 30px;}
  }
@media (max-width: 961px){
   nav label.logo{
   	 font-size: 30px;
   	 padding-left: 50px;
   }
   #contentindex div.com h3.t1{
    font-size: 90px; }
    #contentindex div.com h3.t2{
    font-size: 27px; }

}					
@media (max-width: 862px){
  nav label.checkbtn{
  	display: block;}
  	nav ul{
       position: fixed;
       width: 100%;
       text-align: center;
       top: 40px;
       right: 100%;
       padding-top: 40px;
       transition: all 0.4s;
       background-color: #93D8CF;
  	}
   
   nav ul li{
   	display: block;
   	margin: 50px 0;
   	line-height: 30px;
   }
    nav ul li a{
    	color: white;
   	font-size: 17px;
   }
   nav ul li a.active,a:hover{
   	font-size: 19px;
   	color: #00c9ff;
   	opacity: 1;
   }
   #check:checked ~ ul{
   	left:0;
   	top:80px;
   }

    #contentindex div.com h3.t2{
      padding-top: 38vh;
  }
}
@media (max-width: 745px){
  #contentindex div.com h3.t1{
    font-size: 55px; }
    #contentindex div.com h3.t2{
    font-size: 25px;}
  }
  @media (max-width: 525px){
  #contentindex div.com h3.t1{
    font-size: 45px; }
    #contentindex div.com h3.t2{
      padding-top: 39vh;
    font-size: 18px;}
  }
@media (max-width: 426px){
	nav label.checkbtn{
    float: right;
    font-size: 25px;}
    nav label.logo{
    font-size: 30px;
     padding: 0 30px;
  }
    nav{
      display: inline-block;
    }
    nav ul{
       position: fixed;
       width: 100%;
       text-align: center;
       top: 40px;
       right: 100%;
       padding-top: 40px;
       transition: all 0.4s;
       background-color: #93D8CF;
    }
   
   nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
   }
    nav ul li a{
      color: white;
    font-size: 14px;
   }
   nav ul li a.active,a:hover{
    font-size: 16px;
    color: #00c9ff;
    opacity: 1;
   }
   #check:checked ~ ul{
    left:0;
    top:80px;
   }

}	
@media (max-width: 412px){
  nav label.checkbtn{
    float: right;margin:0;
     padding-right: 30px;}
    nav label.logo{
    font-size: 25px;
     padding-left: 24px; 
  }
  
} 
@media (max-width: 344px){
  #contentindex div.com h3{
    padding-top: 230px;
  }

    #contentindex div.com h3.t2{
      padding-top: 42vh;
      font-size: 14px;}
    }
  nav label.checkbtn{
    padding-top: 2px;
   font-size: 20px;}
    nav label.logo{
    font-size: 23px;
  }
}
@media (max-width: 269px){
  nav label.checkbtn{
   font-size: 18px;
   padding-right: 40px;}
    nav label.logo{
    font-size: 20px;
  }
  #contentindex div.com h3{
    padding-top: 170px;
  }
  #contentindex div.com h3.t1{
    font-size: 27px; }
    #contentindex div.com h3.t2{
    font-size: 10px;}
}


